/* http://wbpreview.com/previews/WB0L805L0/notification.html */

* {
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

body {
  padding-top: 60px;
  padding-bottom: 45px;
  color: #222;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background: #F1F1F1; }

fieldset, img {
  border: 0; }

pre, input, textarea {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif; }

table {
  border-collapse: collapse; }

ol, ul {
  list-style: none; }

ul.nav {
  margin-bottom: 25px; }

ul.nav li a {
  text-decoration: none; }

a {
  color: #0088CC; }

#page {
  width: 920px;
  margin: auto;
  padding: 30px 35px;
  background: white;
  border: 1px solid #DDD; }

#page h1 {
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 30px; }
  #page h1 small {
    color: #999;
    font-size: 18px;
    font-weight: normal; }

#page .tab-pane {
  line-height: 28px; }

#page .tab-pane div {
  border-bottom: 1px solid #EFEFEF; }

#page .tab-pane div.group {
  border: 0; }

#page .tab-pane div.bold {
  padding-bottom: 4px;
  font-weight: bold; }

#page .tab-pane div span.time,
#page .tab-pane div span.average,
#page .tab-pane div span.duration,
#page .tab-pane div span.count {
  width: 100px;
  padding-right: 15px;
  text-align: right;
  display: -moz-inline-block;
  display: inline-block;
  *display: inline;
  zoom: 1; }

#page .tab-pane div span.call {
  width: 625px;
  padding-left: 15px;
  display: -moz-inline-block;
  display: inline-block;
  *display: inline;
  zoom: 1; }

#page #cumulatives div span.count {
  width: 65px; }

#page #cumulatives div span.call {
  width: 565px; }

#footer {
  padding-top: 45px;
  text-align: center; }